/*
Project Name: Relaxr
Client: Your Client
Author: Saline Jiang
Developer @GA in NYC
*/


/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
  clear: both;
}

.alignright {
  float: right;
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
  float: left;
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
     color: #000;
     font-size: 12px;
     line-height: 1.4;
     font-family: 'Open Sans', Helvetica, Arial, sans-serif;
     background: url(../images/header_bg.jpg) no-repeat center top rgb(134,141,157);
      background-size: cover;
}


/******************************************
/* LAYOUT
/*******************************************/

/* Center the container */
#container {
  width: 100%;
  margin: auto;
  height: 600px;

}

header {
  height: 30%;
  margin: 5%;  
  text-align: center;
}

#benefits {
  background-color: #f0efef;
  height: 30%;
  padding: 5% 30% 5% 5%;
}

#quote {
  height:20%;
  padding: 3% 20%;
  text-align: center;
}

#now {
  background-color: #f9e42e;
  height:7%;
  text-align: center;
  padding: 30px;
}

footer {
  height:20%;
  text-align: center;
  background-color: #121212;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

h1 {
  color: white;
  font-size: 24px;
  font-weight: 800;
  height: 40px;
  margin-bottom: 20px;
  text-align: left;
}

h2 {
  color: white;
  font-size: 24px;
  font-weight: 600;
  height: 90px;
}

header a {
  background-color: #f9e42e;
  border-radius: 5px;
  font-color: black;
  font-size: 14px;
  font-weight: 800;
  padding: 10px 25px;
  text-decoration: none;
}

h3 {
  font-size: 20px;
  font-weight: 800;
  margin-bottom: 10px;
}

h3 p, h3 ul {
  font-size: 13px;
  font-weight: 300;
}

#benefits p {
  margin-bottom: 10px;
}

#quote {
  font-size: 18px;
  color: white;
  padding-top: 5%;
}

blockquote {
  font-style: italic;
  font-weight: 300;
}

#quote p {
  font-weight: 600;
}

#now a {
  background-color: #033048;
  border-radius: 5px;
  color: white;
  font-size: 12px;
  font-weight: 800;
  padding: 10px 40px;
  text-decoration: none;
}

footer p {
  font-size: 24px;
  font-weight: 800;
  padding: 20px;
  color: yellow;
}

footer small {
  color: white;
  font-size: 9px;
  font-weight: 600;
}

footer img {
  width: 3%;
  height: auto;
}