/*
Project Name: Blank Template
Client: Your Client
Author: Saline
Developer @GA in DC
*/


/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
  -moz-box-sizing: border-box; /* Firexfox */
  -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
  box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

.alignright {
  float: right;
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
  float: left;
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE StYLE
/*******************************************/

body {
	font-family: 'Lora', serif;
	font-size: 16px;
  color: white;
  font-weight: 400;
  /*background: #201DB3;*/
  background: url(../images/voting-image1.jpg) no-repeat center fixed;
  line-height: 1.5;
  text-align: center;
}


h1 {
  text-align: left;
  float: left;
  font-size: 1rem;
  margin: 10px;
}

ul {
  list-style: none;
}

header li {
  float: right;
}
  

h2 {
  font-size: 3.5rem;
  margin: 30px 0px;
}

.container a {
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 15px;
  border: solid white 2px;
  color: #ffffff;
  background: none;
  padding: 20px 30px 20px 30px;
  text-decoration: none;
  font-size: 1em;
  text-transform: uppercase;
}

.container a:hover {
  background: white;
  text-decoration: none;
  color: black;
}


/******************************************
/* LANDING PAGE LAYOUT
/*******************************************/

.title {
  margin-top: 10px;
}

.container {
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.landing:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(0,0,0,.5);
}

.landing img {
  width: 60px;
}

.beforeButton {
  margin-bottom: 60px;
}


/******************************************
/* QUESTION STYLES
/*******************************************/

fieldset > label {
  font-size: 2em;
}

input {
  width: 50px;
}

fieldset {
  background-color: gray;
  margin: 1em 15em;
  background: rgba(0,0,0,.5);
  border: none;
}

input {
  list-style: none;
}

label {
  display: inline-block;
}

label > input { /*hides radio */
  visibility: hidden;
  position: absolute;
}

label > input + img{ /* IMAGE STYLES */
  cursor:pointer;
  border:2px solid transparent;
  width: 200px;
  padding: 1em;
}

label:hover {
  background: blue;
}


label > input:checked + img { /* (RADIO CHECKED) IMAGE STYLES */
  background: blue;
}

label > input:checked + p {
  background: blue;
}

#submit {
  width: 150px;
  font-family: 'Lora', serif;
}

form p {
  margin: 0;
}


/********
Q5 Layout
*******/
.q5 label {
  margin: 15px;
}

.q5answers {
  margin: 0px 150px;
}


/*each candidate format*/
.candidate {
  margin: 50px 0px;
  background: black;
}

/* HIDE CANDIDATES SECTION */
.candidates section{
  display: none;
}

.candidates .revealBFF {
  display: block;
}

/********
ANSWER LAYOUT (section name of "candidates")
*******/
.candidate img {
  width: 500px;
  float: left;
  margin-left: 100px;
}

.candidate p {
  height: 500px;
}

/********
FOOTER
*******/
footer {
  height: 500px;
}

footer div {
  margin-top: 50px;
  padding-top: 25px;
  width: 100%;
  height: 150px;
  background: black;
  bottom: 0;
}